@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0px;
	margin: 0px;
	/* border: 1px solid black; */
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Poppins";
	overflow-x: hidden;
}

h1 {
	@apply text-xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h2 {
	@apply text-xl md:text-3xl;
}

h3 {
	@apply text-xl font-bold md:text-2xl;
}

h4 {
	@apply text-lg md:text-lg;
}

p {
	@apply text-sm lg:text-lg opacity-70;
}
