<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjh5t6Ksu3RIwPQvgzK196WBo7I34ZgSU</string>
	<key>GCM_SENDER_ID</key>
	<string>256337442137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swayamraksha</string>
	<key>PROJECT_ID</key>
	<string>swayamraksha-57c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>swayamraksha-57c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256337442137:ios:e9a4b8a681bd23e0884848</string>
</dict>
</plist>